$c-900-gray: #252f48;
$c-800-gray: #243668;
$c-500-gray: #454f66;
$c-400-gray: #44537e;
$c-300-gray: #747f92;
$c-200-gray: #838fae;
$c-100-gray: #dde3ec;

$c-900-blue: #021744;
$c-800-blue: #1e2f4f;
$c-500-blue: #1f65ff;
$c-400-blue: #5385d7;
$c-300-blue: #8c9dbb;
$c-200-blue: #f9fbff;
$c-100-blue: #f5f8ff;

$c-300-teal: #81e6d9;
$c-100-teal: #f2f5f8;

$c-white: #ffffff;
$c-black: #000000;
