@import '_colors.scss';
@import '_typography.scss';

.blueBtn {
  font-family: $f-medium;
  font-size: 1.2em;
  color: $c-white;
  height: 36px;
  width: 116px;
  border-radius: 50px;
  border: 2px solid $c-500-blue;
  background-color: $c-500-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 450ms;
  text-decoration: none;
}
