@import '_colors.scss';
@import '_typography.scss';

.prevBtn {
  height: 35px;
  width: 35px;
  background-color: rgba($c-500-blue, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
