@import '_colors.scss';
@import '_typography.scss';

.viewMoreBtn {
  font-family: $f-bold;
  font-size: 1.2em;
  color: $c-white;
  height: 36px;
  width: 126px;
  border-radius: 50px;
  border: 2px solid $c-500-blue;
  background-color: $c-500-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 450ms;
  text-decoration: none;
}

@media only screen and(min-width: 1024px) {
  .viewMoreBtn {
    font-size: 1.6em;
    height: 50px;
    width: 178px;
  }
}
