@import '_colors.scss';
@import '_typography.scss';

.whiteBtn {
  font-family: $f-medium;
  font-size: 1.4em;
  color: $c-400-blue;
  height: 36px;
  width: 116px;
  border-radius: 50px;
  border: 2px solid $c-white;
  background-color: $c-white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 450ms;
  text-decoration: none;

  &:hover {
    background-color: $c-900-gray;
    border: 2px solid $c-900-gray;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    color: $c-white;
  }
}
